# Entorno
venv/
.env
__pycache__/
*.pyc

# Código fuente cerrado
*.py
*.iss
ui/
ocr/
pipeline/
translation/

# Build artifacts
wheels/
python-embed.zip
get-pip.py
Requirements.txt
Installer_Output/
*.build/
*.dist/
*.onefile-build/
